<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ '/assets/apple-touch-icon.png' | url }}"
  >
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ '/assets/favicon-32x32.png' | url }}"
  >
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ '/assets/favicon-16x16.png' | url }}"
  >
  <link rel="preload" href="/assets/fonts/AdwaitaSans-Regular.ttf" as="font" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ '/css/modern-normalize.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
  <title>{{ title }}{% if page.url != '/' %} | {{ meta.siteName }}{% endif %}</title>
  {% getBundle 'html', 'head' %}
</head>
<body>
  <div id="main-container">
    {% include "nav.njk" %}
    <main class="{{ main_class }}">
      {{ content | safe }}
    </main>
  </div>

  <footer>

    <img src="{{ '/assets/android-chrome-192x192.png' | url }}" alt="" />
  </footer>

  {% if title == "fechas" %}
  <script src="/js/fechas.js"></script>
  {%- endif -%}
  <script src="/js/konami.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
