{% set currentUrl %}{{ page.url }}{% endset %}
<nav>
  <ul role="list">
      <li><a href="{{ '/' | url }}" {% if currentUrl === '/' %}aria-current="page" class="active"{% endif %}>inicio</a></li>
    {% for page in collections.pages | sortByOrder %}
    <li><a href="{{ page.url | url }}" {% if currentUrl.includes(page.url) %}aria-current="page" class="active"{% endif %}>{{ page.data.title }}</a></li>
    {%- endfor %}
  </ul>
</nav>
