---
layout: base.njk
title: blog
main_class: blog
order: 1
---
{% for post in collections.posts %}
<article class="post">
  <img src="/posts/{{post.data.date}}-{{post.fileSlug}}/main.jpg" alt="" />
  <div class="post-info">
    <img class="author-image" src="/assets/pictures/authors/{{post.data.authorImage}}.png" alt="" />
    <div>
      <h2>{{ post.data.title }}</h2>
      <p>{{ post.date | fullDate }}</p>
    </div>
    <a href="{{ post.url }}">leer</a>
  </div>
</article>
{%- endfor %}
