---
layout: base.njk
title: enlaces
main_class: enlaces
order: 4
---
<img src="/assets/pictures/enlaces.jpg" alt="">
<ul>
  <li>
    <a href="https://yambo.bandcamp.com" rel="noopener" target="_blank"
      >Bandcamp</a
    >
  </li>
  <li>
    <a href="mailto:yambos@proton.me" rel="noopener" target="_blank"
      >Correo</a
    >
  </li>
  <li>
    <a
      href="https://instagram.com/losyambo"
      rel="noopener"
      target="_blank"
      >Instagram</a
    >
  </li>
  <li>
    <a
      href="/feed.xml"
      rel="noopener"
      target="_blank"
      >RSS Feed</a
    >
  </li>
  <li>
    <a
      href="https://soundcloud.com/diyambo"
      rel="noopener"
      target="_blank"
      >Soundcloud</a
    >
  </li>
  <li>
    <a
      href="https://youtube.com/@LosYambo"
      rel="noopener"
      target="_blank"
      >YouTube</a
    >
  </li>
</ul>
