---
layout: base.njk
title: fechas
main_class: fechas
order: 3
---
{% html "head" %}
{%- for fecha in collections.fechas %}
<link rel="preload" as="image" href="/assets/flyers/{{fecha.data.date}}-{{fecha.fileSlug}}.png">
  {% endfor %}
{% endhtml %}
<h2>Próximas fechas</h2>
<section class="proximas">
  <img src="/assets/pictures/yambo.png" alt="">
  <div>
    {%- for fecha in collections.fechasFuturas %}
      <article
        onpointerenter="showImage('{{fecha.data.date}}-{{fecha.fileSlug}}')"
        onpointerleave="hideImage()"
        ontouchstart="showImage('{{fecha.data.date}}-{{fecha.fileSlug}}')"
        ontouchend="hideImage()"
        ontouchcancel="hideImage()"
      >
        <div>
          <p>{{ fecha.date | dateWithoutYear }}</p>
          <p class="title">{{ fecha.data.title }}</p>
        </div>
        <p class="details">{{ fecha.data.description }}</p>
        <a href="{{ fecha.data.link }}" rel="noopener" target="_blank">Más info</a>
      </article>
    {%- endfor -%}
  </div>
</section>
<h2>Fechas anteriores</h2>
<section class="anteriores">
  <ul>
  {%- for fecha in collections.fechasPasadas | reverse %}
    <li onpointerenter="showImage('{{fecha.data.date}}-{{fecha.fileSlug}}')" onpointerleave="hideImage()">
      <p>{{ fecha.date | fullDate }}</p>
      <p>{{ fecha.data.title }}</p>
    </li>
  {%- endfor -%}
  </ul>
</section>
<div id="floating-image-container"><img alt=""></div>
